In [ ]:
import pandas as pd

In [ ]:
import numpy as np

In [ ]:
#object creation 
s = pd.Series([1,3,np.nan,5,8,9])
s

In [ ]:
dates = pd.date_range('20220701',periods= 20)
dates

In [ ]:

df = pd.DataFrame(np.random.randn(20,4),index=dates,columns=list('ABCD'))
df

In [ ]:
from pandas import Categorical, Series, array


df2= pd.DataFrame(
    {
        'A': 1.0,
        'B': pd.Timestamp('20220701'),
        'C': pd.Series(1, index = np.arange(4),dtype='float32'),
        'D': np.array([3]*4, dtype='int32'),
        'E': pd.Categorical(['test','train','test','train']),
        'F': 'foo'
    }
)
df2

In [ ]:
df2.dtypes

In [ ]:
df.head()

In [ ]:
df.tail(2)

In [ ]:
df.index

In [ ]:
df2.index

In [ ]:
df.to_numpy()

In [ ]:
df2.to_numpy()

In [ ]:
df.describe()

In [ ]:
df2.T    #transpose

In [ ]:
s= df2.T
s.dtypes

In [ ]:
df.sort_index(axis=1,ascending=False)

In [ ]:
df['B'].sort_values()

In [ ]:
df[0:4] #row wise selection

In [ ]:
df.loc[dates[0]]

In [ ]:
df.loc[:,['A','C']].head()

In [ ]:
df.loc['20220702':'20220705',['A','C','D']]

In [ ]:
df.at[dates[2],'A']

In [ ]:
# df.iloc[1]
df.iloc[2,1:3]

In [ ]:
# df['A']>.7
df[df['A']>.7]

In [ ]:
# df>0
df[df>0]

In [ ]:
df[df['A']>.5 and df['B']>.5]

In [89]:
df3 =df.copy()
df3

                   A         B         C         D
2022-07-01 -0.898439  0.555436  0.070588 -0.482015
2022-07-02 -0.577422 -2.061369 -0.446952  0.366119
2022-07-03  0.975463 -0.049056  0.671906  0.172406
2022-07-04  0.320235  0.639933  1.103486  1.154376
2022-07-05 -0.038154 -0.260117 -1.211969 -1.111431
2022-07-06 -1.480165  0.100325  0.171283 -0.826172
2022-07-07  0.592625  1.912689 -2.278094  1.061024
2022-07-08  0.577741 -0.260183 -0.458262 -1.669779
2022-07-09 -2.202441  2.535578  1.473497  0.065801
2022-07-10 -1.728860  1.981020  0.057033  0.170701
2022-07-11  0.341282 -1.193427  0.090115  1.187528
2022-07-12  1.098519 -2.457885 -0.066951 -0.668571
2022-07-13 -1.061923  0.857107 -0.577396 -0.526051
2022-07-14  0.738827 -0.975286 -0.423573 -2.441856
2022-07-15 -0.404486  2.443306  0.116101 -1.201154
2022-07-16 -0.260387 -0.000035 -1.076933  1.385679
2022-07-17 -0.141308 -2.035944 -0.595995 -1.220152
2022-07-18  0.946581 -0.221926  0.342313 -0.170278
2022-07-19  0.432906  0.200850  0.621083 -1.145338
2022-07-20 -0.579158 -0.358697 -2.117526 -1.394292

In [92]:
df3['new'] = np.arange(20)
df3

                   A         B         C         D  new
2022-07-01 -0.898439  0.555436  0.070588 -0.482015    0
2022-07-02 -0.577422 -2.061369 -0.446952  0.366119    1
2022-07-03  0.975463 -0.049056  0.671906  0.172406    2
2022-07-04  0.320235  0.639933  1.103486  1.154376    3
2022-07-05 -0.038154 -0.260117 -1.211969 -1.111431    4
2022-07-06 -1.480165  0.100325  0.171283 -0.826172    5
2022-07-07  0.592625  1.912689 -2.278094  1.061024    6
2022-07-08  0.577741 -0.260183 -0.458262 -1.669779    7
2022-07-09 -2.202441  2.535578  1.473497  0.065801    8
2022-07-10 -1.728860  1.981020  0.057033  0.170701    9
2022-07-11  0.341282 -1.193427  0.090115  1.187528   10
2022-07-12  1.098519 -2.457885 -0.066951 -0.668571   11
2022-07-13 -1.061923  0.857107 -0.577396 -0.526051   12
2022-07-14  0.738827 -0.975286 -0.423573 -2.441856   13
2022-07-15 -0.404486  2.443306  0.116101 -1.201154   14
2022-07-16 -0.260387 -0.000035 -1.076933  1.385679   15
2022-07-17 -0.141308 -2.035944 -0.595995 -1.220152   16
2022-07-18  0.946581 -0.221926  0.342313 -0.170278   17
2022-07-19  0.432906  0.200850  0.621083 -1.145338   18
2022-07-20 -0.579158 -0.358697 -2.117526 -1.394292   19

In [119]:
df.loc[:,['A','C']].mean(axis=1)

2022-07-01   -0.413925
2022-07-02   -0.512187
2022-07-03    0.823684
2022-07-04    0.711861
2022-07-05   -0.625062
2022-07-06   -0.654441
2022-07-07   -0.842734
2022-07-08    0.059739
2022-07-09   -0.364472
2022-07-10   -0.835914
2022-07-11    0.215699
2022-07-12    0.515784
2022-07-13   -0.819660
2022-07-14    0.157627
2022-07-15   -0.144192
2022-07-16   -0.668660
2022-07-17   -0.368652
2022-07-18    0.644447
2022-07-19    0.526994
2022-07-20   -1.348342
Freq: D, dtype: float64